body {
    background: url(https://cdn1.vectorstock.com/i/1000x1000/45/10/education-background-vector-10664510.jpg);
    opacity: 0.9;
}

#ants-name {
    font-size: 300%;
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
}

#sub-heading {
    font-size: 150%;
    font-weight: bolder;
    text-align: center;
}

#ants-head {
    text-align: center;
    font-weight: bolder;
    width: auto;
    margin: auto;
    background-color: rgb(231, 155, 83);
    opacity: 1;
}


}

/* span needs changing to alter bullet points*/
#below-the-wild {
    background-color: aqua;
}
#bullet-points {
    column-count: 2;
    column-rule-style: dashed font-size: 150%;
    list-style-position: outside;
    text-align-last: left;
}

/*
span {
    position: relative;
    left: -10px;
}
*/
p,
h2 {
    margin: 0px;
}