#overall {
    border: 50px;
    border-style: solid;
    border-color: lightgray;
}

html {
    background-image: url(https://site.groupe-psa.com/content/uploads/sites/9/2016/12/white-background-2.jpg), url(https://wallpapercave.com/wp/wp3165125.jpg), url(https://site.groupe-psa.com/content/uploads/sites/9/2016/12/white-background-2.jpg);
    outline: 2px solid blue;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 50% 180px, 50% 40px, 50% 0px;
    border: 50px;
    border-color: blue;
}

#ants-name {
    font-size: 300%;
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
}

#sub-heading {
    font-size: 150%;
    font-weight: bolder;
    text-align: center;
}

#ants-head {
    text-align: center;
    font-weight: bolder;
    padding: 40px;
    opacity: 1;
}

#img-caption {
    font-size: larger;
}


/* span needs changing to alter bullet points*/

#below-the-wild {
    background-color: aqua;
}

#tribute-info {
    color: black;
    text-align: center;
}

#bullet-points {
    column-count: 1;
    list-style-position: outside;
    text-align-last: left;
    color: black;
    list-style-position: inside;
    margin-left: 45%;
}

#ants-life {
    color: blue;
    text-align: justify;
}